<% content_for :content do %>
  <p style="font-family:arial,helvetica,sans-serif;font-size:13px;">
    This isn't how it was supposed to happen, it appears one of your items order is no longer in stock
    at the moment. You have not been charged and the entire order has not been processed.
    We are always getting more product in and encourage you to return soon to
    <a href="http://www.healthyessentials.ca/" target="_blank" style="color: #777777; text-decoration: underline;">healthyessentials.ca</a>,
    reload your cart and check out again.
  </p>
<% end %>

<%= render template: 'layouts/checkout/well_ca/healthy_essentials/order_error' %>
