%tr
  %td(align="center" style="border-collapse: collapse;")
    %table(border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;border-spacing: 0;")
      %tr
        %td(width="27" style="text-align: center;padding: 0 5px 10px 5px;border-collapse: collapse;")
          %a(href="http://www.pinterest.com/shopbeam")
            %img.image_fix(src="https://s3.amazonaws.com/statix/emails/pinterest.png" width="27" height="27" alt="Pinterest" border="0" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto;border: none;display: block;")
        %td(width="27" style="text-align: center;padding: 0 5px 10px 5px;border-collapse: collapse;")
          %a(href="http://www.vimeo.com/78111401")
            %img.image_fix(src="https://s3.amazonaws.com/statix/emails/vimeo.png" width="27" height="27" alt="Vime" border="0" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto;border: none;display: block;")
        %td(width="27" style="text-align: center;padding: 0 5px 10px 5px;border-collapse: collapse;")
          %a(href="http://www.facebook.com/shopbeam")
            %img.image_fix(src="https://s3.amazonaws.com/statix/emails/facebook.png" width="27" height="27" alt="Facebook" border="0" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto;border: none;display: block;")
        %td(width="27" style="text-align: center;padding: 0 5px 10px 5px;border-collapse: collapse;")
          %a(href="http://www.twitter.com/_shopbeam")
            %img.image_fix(src="https://s3.amazonaws.com/statix/emails/twitter.png" width="27" height="27" alt="Twitter" border="0" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;height: auto;border: none;display: block;")
%tr
  %td.footer(bgcolor="#000000" style="border-collapse: collapse;padding: 30px 30px 30px 30px;")
    %table(width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;border-spacing: 0;")
      %tbody
        %tr
          %td.footercopy(align="center" style="border-collapse: collapse;font-family: sans-serif;font-size: 14px;line-height: 20px;color: #ffffff;")
            %p(style="color: #ffffff;font-size: 14px;font-family: sans-serif;margin: 0px;padding: 0px;mso-table-lspace: 0;mso-table-rspace: 0;line-height: 20px;")
              Need assistance?
              %br
              Reach Shopbeam by email at
              %a.mobile_link(href="mailto:customercare@shopbeam.com" style="text-decoration: none;color: #ffffff;")
                customercare@shopbeam.com
              %br
              or by phone at
              %a.mobile_link(href="tel:8004903216" style="text-decoration: none;color: #ffffff;")
                (800) 490-3216
