<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= @error_title %></title>
</head>
<body>
  Thank you for your interest in attending Advertising Week Europe. Unfortunately we cannot process your transaction at this time. Please go to <a href="https://advertisingweek.eu/register/">advertisingweek.eu</a> to complete your registration.<br>
  <br>
  If you have any questions, please contact us at <a href="mailto:register@advertisingweek.eu">register@advertisingweek.eu</a>.<br>
  <br>
  Thank you.<br>
  Advertising Week
</body>
</html>
