<p>Shopbeam order #<%= @order.id %> has been terminated at <%= Time.now %> due to the site failure:</p>
<p><%= @exception.message %>
<p>Backtrace:</p>
<p><%= raw @exception.backtrace.join('<br>') %></p>
