<% content_for :content do %>
  <p style="font-family:arial,helvetica,sans-serif;font-size:14px;">
    This isn't how it was supposed to happen, but there was an error when trying to process your credit card
    and you have not been charged. We encourage you to return to
    <a href="http://www.rogaine.ca" style="color: #142347;font-weight: 600;">rogaine.ca</a>,
    reload your cart and checkout again,
    so that we can promptly attempt to successfully process your order - thanks for understanding!
  </p>
<% end %>

<%= render template: 'layouts/checkout/well_ca/rogaine_men/order_error' %>
