<!--[if (gte mso 9)|(IE)]>
<table width="365" align="left" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<![endif]-->
%table.addresses(align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%;max-width: 365px;border-collapse: separate;border-spacing: 0;padding-bottom: 20px;")
  %tr
    = render 'checkout_mailer/partials/address', address: shipping_address, title: 'Shipping Address'
    = render 'checkout_mailer/partials/address', address: billing_address, title: 'Billing Address'
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
