<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= @error_title %></title>
</head>
<body>
  Lucky You! Your email matches an existing Advertising Week account. Please click <a href="https://advertisingweek.eu/register/">here</a> to complete your AWEurope conference registration.<br>
  <br>
  Thank you,<br>
  Shopbeam team
</body>
</html>
